body{
	background-image: url(Sonoran-Sucker-Colors.jpg);
	background-size: 100%;
}

div
{
	color: #000000;
	background-color:#CFCFCF;
	font-size: 30px;
	border: 1px dashed rgb(0,0,0);
	margin-left: 40%;
	padding: 10px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	border-radius: 30px;
}

#counter
{
	margin-bottom: 100px;
}

button
{
	background-color:#CFCFCF;
	font-size: 30px;
	margin: 30px;
	padding: 10px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 30px;
	margin-left: 25%;	
}

button:hover{
	border: 2px solid black;
	opacity: 1;
	color: #399CBD;
	box-shadow: 15px 13px 7px rgb(0,0,0);
}